.about .content-wrap[data-v-5c30286e]:hover { 
    overflow: overlay !important;
}
.about .content-wrap[data-v-5c30286e]:hover::-webkit-scrollbar { 
    width:4px ;
}

.about .content-wrap[data-v-5c30286e]:hover::-webkit-scrollbar-thumb {
    background: #363d50;
    border-radius: 10px;
    box-shadow: inset 7px 7px 12px #363D50;
}

.about .content-wrap[data-v-5c30286e]:hover::-webkit-scrollbar-track {
   
    border-radius: 10px;
}


.text[data-v-6c3dc0b8] .markdown:hover { 
    overflow: overlay !important;
}
.text[data-v-6c3dc0b8] .markdown:hover::-webkit-scrollbar { 
    width:4px ;
}

.text[data-v-6c3dc0b8] .markdown:hover::-webkit-scrollbar-thumb {
    background: #363d50;
    border-radius: 10px;
    box-shadow: inset 7px 7px 12px #363D50;
}

.text[data-v-6c3dc0b8] .markdown:hover::-webkit-scrollbar-track {
   
    border-radius: 10px;
}

.input[data-v-93c5960c] .el-textarea__inner:hover { 
    overflow: overlay !important;
}
.input[data-v-93c5960c] .el-textarea__inner:hover::-webkit-scrollbar { 
    width:4px ;
}

.input[data-v-93c5960c] .el-textarea__inner:hover::-webkit-scrollbar-thumb {
    background: #363d50;
    border-radius: 10px;
    box-shadow: inset 7px 7px 12px #363D50;
}

.input[data-v-93c5960c] .el-textarea__inner:hover::-webkit-scrollbar-track {
   
    border-radius: 10px;
}


.el-textarea__inner:hover { 
    overflow: overlay !important;
}
.el-textarea__inner:hover::-webkit-scrollbar { 
    width:4px ;
}

.el-textarea__inner:hover::-webkit-scrollbar-thumb {
    background: #363d50;
    border-radius: 10px;
    box-shadow: inset 7px 7px 12px #363D50;
}

.el-textarea__inner:hover::-webkit-scrollbar-track {
    border-radius: 10px;
}



.el-input-group__append, .el-input-group__prepend, .el-input__inner, .el-textarea__inner { 
    overflow: overlay !important;
}
.el-input-group__append, .el-input-group__prepend, .el-input__inner, .el-textarea__inner::-webkit-scrollbar { 
    width:4px ;
}

.el-input-group__append, .el-input-group__prepend, .el-input__inner, .el-textarea__inner::-webkit-scrollbar-thumb {
    background: #363d50;
    border-radius: 10px;
    box-shadow: inset 7px 7px 12px #363D50;
}

.el-input-group__append, .el-input-group__prepend, .el-input__inner, .el-textarea__inner::-webkit-scrollbar-track {
   
    border-radius: 10px;
}